<section>
  <h3>Showing Progress</h3>
  <p>
    You have already known that you can update an existing toast.  With this simple technique, you can create nice example, such as
    show progress for some long-running, asynchronous task.
  </p>
  <.button variant="outline" size="sm" phx-click="show_progress">
    Show Progress
  </.button>
</section>
